body{
    height:100%;
    background: url('../../assets/Brown BG.jpg');
    background-size: contain;
    background-repeat: round;
    display: flex;
    overflow-x: scroll;
}

table{
    margin: auto;
}

@media screen and (max-width:959px) {
    .container{ 
        margin-top:10% !important;
        margin-bottom: 10% !important;
    }
}

.container{
    background-color: white;
    width: 70%;
    height: max-content;
    margin: auto;
    padding: 2% 5% 5% 5%;
    display: block !important;
}

.timer{
    align-self: center;
    background-color: #0C86c2;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 3vh;
    color: white;
    margin-top: 3vh;
}