body{
    height:100%;
    background: url('../../assets/Brown BG.jpg');
    background-size: contain;
    background-repeat: round;
    display: flex;
}

table{
    margin: auto;
}

.container{
    background-color: white;
    width: 80%;
    margin: auto;
    margin: 10%;
    padding: 2% 5% 2% 5%;
}

.timer{
    align-self: center;
    background-color: #0C86c2;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 3vh;
    color: white;
}