<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agile Chef</title>
</head>
<body>
    <mat-toolbar>
      <mat-toolbar-row>
        <span class="spacer"></span>
        <a class="navButton" routerLink="/adminLogin">
          <fa-icon [icon]="faCog"></fa-icon>
        </a>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="container">
      <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayout.xs="column" fxLayoutAlign.xs="space-evenly center" >
        <div style="padding: 3vh; display: flex;">
            <img src="assets/Agile Logo.png" style="width: 90%; margin: auto;" alt="Agile Logo">
        </div>
        <div class="content">
            Welcome to agile chef! A simple simulation which lets players experience work in Scrum sprints and brings to discussion many questions and topics that happen in real life while working in a Scrum team. This experience facilitates learning and prepares participants for the real use of Scrum. Despite other simulations, this one has a strong focus on the Scrum as a process and provides education of mechanics through a game.
  
            <button mat-button style="float:right; font-size: 3vh; margin-top: 3vh;" routerLink="/playerLogin">
              <fa-icon [icon]="faSignInAlt"></fa-icon>
            </button>
        </div>
      </div>
    </div>

</body>
</html>