<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="lobby.component.css">

        <title>Lobby</title>
    </head>
    <body>
        <section class="left-section">
            <div *ngFor="let n of teams; let i = index;">
                <team-component [team]="n">{{n.teamNumber}}</team-component>
            </div>
        </section>
        <section class="right-section">
            <div class="objectives-card">
                <h1>Objetivos</h1>
                <p><span>1.</span> Con los equipos representando a 
                    toda la empresa, se debe construir 
                    una cadena de pizzerías 
                    <span>rentable.</span></p>
                <p><span>2.</span> Los slices de pizza deben 
                    mantener un <span>mínimo</span>de calidad.</p>
                <p><span>3.</span> Tamaño y cantidad de 
                    ingredientes <span>similar.</span>
                    </p>
                <p><span>4.</span> Cada miembro del equipo solo 
                    puede hacer <span>un paso</span> de ensamble
                    a la vez.
                    </p>
                <p><span>5. Solo</span> el Product Owner (PO) 
                    aprueba los slice de pizza.</p>
            </div>
            <div class="buttons-container">
                <button class="start-button" (click)="returnToPlayerLogIn()" mat-raised-button color="primary">Regresar</button>
                <button class="start-button" (click)="startGame()" mat-raised-button color="primary">Iniciar</button>
            </div>
        </section>
    </body>
    </html>