body{
    height:100%;
    background: url('../../assets/Green BG.jpg');
    background-size: contain;
    background-repeat: round;
    display: flex;
}



.container{
    background-color: white;
    width: 90%;
    margin: auto;
    margin: 10%;
    padding: 2% 5% 2% 5%;
}
.sprintResult{
    margin:0 20px;
    width:15%;
}
.graph{
    height:200px;
    background-color:bisque;
    margin:20px 0;
}
.teamResults mat-card{
    width:80%;
    padding:20px;
    margin:0;
}

.timer{
    margin-top:15%;
    background-color: #0C86c2;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 3vh;
    color: white;
    align-self: center;
    display:block;
}

table tr td{
    width:400px;
}

.timer-container{
    display:inline-flex;
    margin:20px 0;
    padding:0;
}
