<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summary</title>
</head>
<body>
    <div class="container" fxLayout="column" fxLayoutAlign="space-evenly stretch">
        <mat-card>
            <h1 style="text-align: center;">Business Values</h1>
        </mat-card>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly center" style="padding-top: 3vh;">
          <div fxLayout="column" class="dataCard">
            <mat-card style="margin-bottom: 1%;">
              <div class="titleBox">
                  <mat-card-title>Pieces</mat-card-title>
                  <mat-card-subtitle>Sprint 1</mat-card-subtitle>
              </div>
              <mat-card-content>
                  <mat-list role="list">
                      <mat-list-item role="listitem">Completed: 19 </mat-list-item>
                      <mat-list-item role="listitem">Failed: 8 </mat-list-item>
                      <mat-list-item role="listitem">In Progress: 12 </mat-list-item>
                  </mat-list>
              </mat-card-content>
            </mat-card>
          </div>
          <div fxLayout="column" class="dataCard">
            <mat-card style="margin-bottom: 1%;">
              <div class="titleBox">
                  <mat-card-title>Total</mat-card-title>
                  <mat-card-subtitle>Sprint 1</mat-card-subtitle>
              </div>
              <mat-card-content>
                  <mat-list role="list">
                      <mat-list-item role="listitem"> Revenue: $26 </mat-list-item>
                      <mat-list-item role="listitem"> Costs: $17.38 </mat-list-item>
                      <mat-list-item role="listitem"> Profit: $8.17 </mat-list-item>
                  </mat-list>  
              </mat-card-content>
            </mat-card>
          </div>
        </div>

        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly stretch" style="padding-top: 3vh;">
          <div fxLayout="column" class="graphCard">
            <mat-card style="margin-bottom: 1%;">
              <div class="titleBox">
                <mat-card-title>Sprint 1</mat-card-title>
              </div>
              <mat-card-content>
                <summary-graph></summary-graph>
              </mat-card-content>
            </mat-card>
          </div>
          <div fxLayout="column" class="graphCard">
            <mat-card style="margin-bottom: 1%;">
              <div class="titleBox">
                <mat-card-title>Sprint 2</mat-card-title>
              </div>
              <mat-card-content>
                <summary-graph></summary-graph>
              </mat-card-content>
            </mat-card>
          </div>
          <div fxLayout="column" class="graphCard">
            <mat-card style="margin-bottom: 1%;">
              <div class="titleBox">
                <mat-card-title>Sprint 3</mat-card-title>
              </div>
              <mat-card-content>
                <summary-graph></summary-graph>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
        
        <div class="timer" fxLayout="row" fxLayoutAlign="center center">
          <countdown [config]="{leftTime: timer}" (event)="onTimerFinished($event)"></countdown>
        </div>
    </div>
</body>
</html>
