<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summary</title>
</head>

<body>
    <div class="container" fxLayout="column" fxLayoutAlign="stretch">
        <div fxLayout="row" style="width: 100%;" fxLayoutAlign="stretch">
            <div class="sprintResult">
                <div class="graph">
                    
                </div>
                <div class="teamResults">
                    <mat-card>
                        <mat-card-title>Team 1</mat-card-title>
                        <table>
                            <tr>
                                <td>Exitosos</td>
                                <td>3</td>

                            </tr>

                            <tr>
                                <td>Fallidos</td>
                                <td>6</td>

                            </tr>

                            <tr>
                                <td>En Proceso</td>
                                <td>4</td>
                            </tr>
                        </table>

                    </mat-card>
                </div>
            </div>

            <div class="sprintResult">
                <div class="graph"></div>
                <div class="teamResults">
                    <mat-card>
                        <mat-card-title>Team 2</mat-card-title>
                        <table>
                            <tr>
                                <td>Exitosos</td>
                                <td>3</td>

                            </tr>

                            <tr>
                                <td>Fallidos</td>
                                <td>6</td>

                            </tr>

                            <tr>
                                <td>En Proceso</td>
                                <td>4</td>
                            </tr>
                        </table>

                    </mat-card>
                </div>
            </div>

            <div class="sprintResult">
                <div class="graph"></div>
                <div class="teamResults">
                    <mat-card>
                        <mat-card-title>Team 3</mat-card-title>
                        <table>
                            <tr>
                                <td>Exitosos</td>
                                <td>3</td>

                            </tr>

                            <tr>
                                <td>Fallidos</td>
                                <td>6</td>

                            </tr>

                            <tr>
                                <td>En Proceso</td>
                                <td>4</td>
                            </tr>
                        </table>

                    </mat-card>
                </div>
            </div>
        </div>

        <div class="timer-container">
            <div class="timer" fxLayout="row">
                <countdown [config]="{leftTime: 60}"></countdown>
            </div>
    
        </div>
    </div>

    
</body>

</html>