<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summary</title>
</head>
<body>
    <div class="container" fxLayout="column" fxLayoutAlign="space-evenly stretch">
        <mat-card>
            <h1 style="text-align: center;">Valor del Negocio</h1>
        </mat-card>
        <div fxLayout="row" style="width: 100%;" fxLayoutAlign="space-evenly stretch">
            <div fxLayout="column" style="width:30%; padding: 1%">
                <mat-card>
                    <div class="titleBox">
                        <mat-card-title>Total</mat-card-title>
                        <mat-card-subtitle>Sprint 1</mat-card-subtitle>
                    </div>
                    <mat-card-content>
                        <mat-list role="list">
                            <mat-list-item role="listitem"> P. Completed: 19 </mat-list-item>
                            <mat-list-item role="listitem"> P. Failed: 8 </mat-list-item>
                            <mat-list-item role="listitem"> P. In Progress: 12 </mat-list-item>
                        </mat-list>
                        <hr>
                        <mat-list role="list">
                            <mat-list-item role="listitem"> Income: $26 </mat-list-item>
                            <mat-list-item role="listitem"> Cost: $17.38 </mat-list-item>
                            <mat-list-item role="listitem"> Winnings: $8.17 </mat-list-item>
                        </mat-list>  
                    </mat-card-content>
                </mat-card>
            </div>
            <div fxLayout="column" style="padding: 1%">
                <mat-card style="margin-bottom: 1%;">
                    <mat-card-header>
                      <mat-card-title>Sprint 1</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam at tellus eu nisi semper finibus. Ut pellentesque tristique eros, a rutrum mauris blandit sed. Duis ornare iaculis augue eu tincidunt. Etiam finibus a neque in varius. Sed purus felis, tristique fermentum malesuada sed, rhoncus vitae neque.
                      </p>
                    </mat-card-content>
                </mat-card>

                <mat-card style="margin-bottom: 1%;">
                    <mat-card-header>
                      <mat-card-title>Sprint 2</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam at tellus eu nisi semper finibus. Ut pellentesque tristique eros, a rutrum mauris blandit sed. Duis ornare iaculis augue eu tincidunt. Etiam finibus a neque in varius. Sed purus felis, tristique fermentum malesuada sed, rhoncus vitae neque. 
                      </p>
                    </mat-card-content>
                </mat-card>

                <mat-card style="margin-bottom: 1%;">
                    <mat-card-header>
                      <mat-card-title>Sprint 3</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam at tellus eu nisi semper finibus. Ut pellentesque tristique eros, a rutrum mauris blandit sed. Duis ornare iaculis augue eu tincidunt. Etiam finibus a neque in varius. Sed purus felis, tristique fermentum malesuada sed, rhoncus vitae neque.
                      </p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        
        <div class="timer" fxLayout="row" fxLayoutAlign="center center">
            <countdown [config]="{leftTime: 60}"></countdown>
        </div>
    </div>
</body>
</html>