body{
    height:100%;
    background: url('../../assets/Green BG.jpg');
    background-size: contain;
    background-repeat: round;
    display: flex;
}

.container{
    margin: 10%;
    padding: 2% 5% 2% 5%;
}

.titleBox{
    text-align: center;
}

.timer{
    align-self: center;
    background-color: #0C86c2;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 3vh;
    color: white;
}