<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planning</title>
</head>

<body>

    <div class="container-bg">
        <div class="outer-container">
            <h1>Game Screen</h1>
            <div class="gameScreen" fxLayout="column" style="width: 100%;" fxLayoutAlign="stretch center">
                <div fxLayout="row" style="width: 100%;" fxLayoutAlign="stretch">

                    <div class="queue">
                        <h2>Queue</h2>
                        <mat-card *ngFor="let p of queue; let i = index;" cdkDrag class='pizza'
                            (click)="moveOutofQueue(p,$event)" [class.onqueue]="p.editing" [class.finished]="p.done">
                            <p>{{p.name}}</p>
                            <img src="{{p.imgSrc}}" alt="">
                        </mat-card>

                    </div>
                    <div class="gameScreen">
                        <div class="gameCanvas">

                        </div>
                        <div class="menu">

                            <button class="player" *ngFor="let n of playerList; let i = index;"
                                (click)='showIngredients(n)'>{{n.name}}</button>


                            <div class="ingredients-list ">
                                <div cdkDrag class='ingredient' *ngFor="let ing of activePlayer.ing; let i = index;" (mouseup)="ingredientPlacement(ing,$event)"
                                (click)='prepareIngredient(ing,$event)' 
                            style='width:{{ing.width}};height:{{ing.height}};display:{{ing.onPizza}};visibility:{{ing.visibility}};z-index:{{ing.zindex}}'
                                >
                                    <mat-progress-bar mode="determinate" value="{{ing.progress}}" [color]="color">

                                    </mat-progress-bar>
                                    <img src="{{ing.activeImg}}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="readyPanel">
                        <countdown [config]="{leftTime: timer}" (event)="onTimerFinished($event)"></countdown>
                        
                        <div class="oven" [class.isPO]="this.dataService.currentPlayer.isPO"><img src="../../assets/oven.png" alt="" width="200px"></div>
                        <div class="readyQueue"></div>
                        <div class="trash" [class.isPO]="this.dataService.currentPlayer.isPO"><img src="../../assets/trash.png" alt="" width="200px"></div>

                    </div>
                </div>
            </div>

        </div>
    </div>


</body>

</html>