body{
    height:100%;
}

.title{
    background-color: #FFF0A5;
    padding: 8% 10% 8% 10%;
    border-radius: 25px;
    font-size: 10vh;
    color: black;
    align-self: center;
    margin-bottom: 2%;
}

.timer{
    background-color: #468966;
    padding: 10%;
    border-radius: 25px;
    font-size: 10vh;
    color: white;
    align-self: center;
}

.container{
    background-color: white;
    width: 80%;
    margin: auto;
}