<div class="team-card">
    <div class="team-header">
        <h2>Team {{team.teamNumber}}</h2>   
    </div>
    <div class="team-container" *ngFor="let n of team.players; let i = index;">
        <p>{{n.name}}</p>
    </div>

    <div class="buttons-container" onload="loadButtons();">
        <button mat-fab id="addBtn" color="primary" class="team-btn" (click)="addPlayerToTeam(team)" >
            <mat-icon>add</mat-icon>
        </button>
    
        <button mat-fab id="removeBtn" color="primary" class="team-btn" (click)="removePlayerFromTeam(team)" >
            <mat-icon>remove</mat-icon>
        </button>
    </div>
</div>