*{
    text-align: center;
    align-items: center;
}
.title{
    color:#7c9201;
    font-size:50px;
}

/* Top-panel */


.container-bg{
    background-image: url('https://i.imgur.com/EtKUG4P.png');
    padding:0;
    margin:0;
}

.container-top{
    display:flex;
    text-align: center;
}
.child{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.child p{
    padding:20px 0;
}

.outer-container{
    margin:50px;
    padding:10px;
    background:white;
    width:90%;
}

.edit-panel{
    height:300px;
}