*{
    text-align: center;
    align-items: center;
}
.title{
    color:#7c9201;
    font-size:50px;
    padding:25px;
    margin:25px 0 15px 0;
    font-weight: lighter;
}
button{
    padding:5px 55px;
    background-color:black;
    color:#fff;
}
/* Top-panel */
.container-bg{
    padding:0;
    margin:0;
    height:100%;
    background: url('../../assets/White BG.jpg');
    background-size: contain;
    background-repeat: round;
    display: flex;
}

.container-top{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center

}
.child{
    display:flex;
    flex-wrap:nowrap;
    flex-direction: column;
    margin:0 20px;
    text-align: center;
}
.child p{
    padding:20px 0;
}

.outer-container{
    margin:auto;
    padding:10px;
    background:white;
    width:90%;
}

.edit-panel{
    height:300px;
}

.objetivos{
    width:50%;
}