.title{
    color:#7c9201;
}
.container-bg{
    background-image: url('https://i.imgur.com/EtKUG4P.png');
    padding:0;
    margin:0;
}

.outer-container{
    margin:50px;
    padding:10px;
    background:white;
}