<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
</head>
<body>
    <div class="outer-container">
        <h1 class="title">Admin Panel</h1>
        <form [formGroup]="form">
            <div class="container-top">
                <div class="container-game">
                    <div class="child">
                        <p>Edit Game</p>
                        <mat-card class="edit-panel" id='edit-panel'>
                            <mat-form-field>
                                <mat-label>Number of Teams</mat-label>
                                <input type="number" min="1"  [(ngModel)]="teamQuantity" oninput="this.value = Math.abs(this.value)" matInput formControlName="teamQuantity" placeholder="Number of teams">
                            </mat-form-field>
                            <p class="error" *ngIf="errorTeams" id="errorTeams">Minimum of teams must be at least 1 </p>
                            <h3>Player Quantity</h3>
                            <mat-form-field>
                                <mat-label>Min</mat-label>
                                <input type="number" matInput value="minPlayers" formControlName="playerQuantityMin" [(ngModel)]="minPlayers" oninput="this.value = Math.abs(this.value)">
                            </mat-form-field>
                            <p class="error" *ngIf="errorMin" id="errorMin">Minimum of players must be of at least 1 </p>

                            <br>
                            <mat-form-field>
                                <mat-label>Max</mat-label>
                                <input type="number" matInput formControlName="playerQuantityMax" [(ngModel)]="maxPlayers" oninput="this.value = Math.abs(this.value)">
                            </mat-form-field>

                            <p class="error" *ngIf="errorMax" id="errorMax">Maximum of players must be of at least 1 </p>
                            <p class="error" *ngIf="errorMinMax" id="errorMinMax">Maximum of players cannot be lower than the minimum </p>

                            <br>
                            <p>Sprint Quantity: <span id="sprintQuantity">{{sprintCounter}}</span></p>
                        </mat-card>
                    </div>
                </div>

                <div class="container-sprint">
                    <div class="child">
                        <p>Edit Sprint</p>
                        
                        <mat-card class="edit-panel" id="edit-sprint">
                            <mat-form-field appearance="fill">
                                <mat-label>Sprint</mat-label>
                                <select matNativeControl formControlName="selectSprint" (change)="onForm2NameChange($event.target)">
                                    <option *ngFor="let sprint of sprintList" value={{sprint.name}}> {{ sprint.name }}
                                    </option>  
                                </select>

                            </mat-form-field>
                            <br>
                            <mat-form-field>
                                <mat-label>Planning</mat-label>
                                <input type="number" matInput formControlName="planningTime" oninput="this.value = Math.abs(this.value)" >
                            </mat-form-field>
                            <br>
                            <mat-form-field>
                                <mat-label>Execution</mat-label>
                                <input type="number" matInput formControlName="executionTime" oninput="this.value = Math.abs(this.value)" >
                            </mat-form-field>
                            <br>
                            <mat-form-field>
                                <mat-label>Review</mat-label>
                                <input type="number" matInput formControlName="reviewingTime" oninput="this.value = Math.abs(this.value)" >
                            </mat-form-field>
                            <br>
                            <mat-form-field>
                                <mat-label>Retrospective</mat-label>
                                <input type="number" matInput formControlName="retrospectiveTime" oninput="this.value = Math.abs(this.value)" >
                            </mat-form-field>

                            <p class="error" *ngIf="errorSprints" id="sprintError">Stages must be of at least 1s long</p>

                            
                            <button (click)="addSprint()"  class="sprintBtn" mat-raised-button color="secondary">Add</button>

                            <button (click)="removeSprint()" class="sprintBtn2 remove" mat-raised-button color="secondary" [disabled]="minReached">Remove</button>
                        </mat-card>
                    </div>
                </div>
            </div>

            <button type="button" mat-raised-button color="secondary" (click)="submitInfo()">Start</button>
            <p class="error" *ngIf="errorTeams" id="errorTeams">Minimum of teams must be at least 1 </p>

        </form>
    </div>
</body>
</html>